<div class="container navbar-container">
  <nav class="navbar fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="index">
      <img src="/assets/img/block-logos-mini-04.svg" width="30" height="30" class="d-inline-block align-top" alt="mini block logo">
    </a>
    <a class="nav-link" href="#">
      <button class="btn btn-secondary">
        Back<span class="sr-only navbar-text">(current)</span>
      </button>
    </a>
  </nav>
</div>

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        {{#each classes}}
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          {{subject}}
        </button>
        {{/each}}
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body" id="course-title-input">
        <button class="btn btn-secondary" data-id="{{id}}">Add</button>
      </div>
    </div>
  </div>
</div>
  

<footer class="card-footer text-muted">
  <container>
    Created by: Alex, Andy, Emma, Juan, and Sandy
  </container>
</footer>