<div class="jumbotron">
  <div class="container">
    <img src="/assets/img/block-logos-03.svg">
    <p class="lead">Tell us what classes you need to take. We'll take care of the rest.</p>
  </div>
</div>